<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<data>
	YnBsaXN0MDDUAQIDBAUGGBlYJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVyVCR0b3AS
	AAGGoKQHCBESVSRudWxs1AkKCwwNDg8QU2FnZVNzZXhUbmFtZVYkY2xhc3MQIBAAgAKA
	A1RiYXR10hMUFRZaJGNsYXNzbmFtZVgkY2xhc3Nlc1ZQZXJzb26iFRdYTlNPYmplY3Rf
	EA9OU0tleWVkQXJjaGl2ZXLRGhtUcm9vdIABCBEaIy0yNzxCS09TWF9hY2VnbHF8hYyP
	mKqtsgAAAAAAAAEBAAAAAAAAABwAAAAAAAAAAAAAAAAAAAC0
	</data>
	<data>
	YnBsaXN0MDDUAQIDBAUGGBlYJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVyVCR0b3AS
	AAGGoKQHCBESVSRudWxs1AkKCwwNDg8QU2FnZVNzZXhUbmFtZVYkY2xhc3MQFRABgAKA
	A1RsaWx50hMUFRZaJGNsYXNzbmFtZVgkY2xhc3Nlc1ZQZXJzb26iFRdYTlNPYmplY3Rf
	EA9OU0tleWVkQXJjaGl2ZXLRGhtUcm9vdIABCBEaIy0yNzxCS09TWF9hY2VnbHF8hYyP
	mKqtsgAAAAAAAAEBAAAAAAAAABwAAAAAAAAAAAAAAAAAAAC0
	</data>
	<data>
	YnBsaXN0MDDUAQIDBAUGGBlYJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVyVCR0b3AS
	AAGGoKQHCBESVSRudWxs1AkKCwwNDg8QU2FnZVNzZXhUbmFtZVYkY2xhc3MQLRAAgAKA
	A1R0b2550hMUFRZaJGNsYXNzbmFtZVgkY2xhc3Nlc1ZQZXJzb26iFRdYTlNPYmplY3Rf
	EA9OU0tleWVkQXJjaGl2ZXLRGhtUcm9vdIABCBEaIy0yNzxCS09TWF9hY2VnbHF8hYyP
	mKqtsgAAAAAAAAEBAAAAAAAAABwAAAAAAAAAAAAAAAAAAAC0
	</data>
	<data>
	YnBsaXN0MDDUAQIDBAUGGBlYJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVyVCR0b3AS
	AAGGoKQHCBESVSRudWxs1AkKCwwNDg8QU2FnZVNzZXhUbmFtZVYkY2xhc3MQDBABgAKA
	A1RzYXNh0hMUFRZaJGNsYXNzbmFtZVgkY2xhc3Nlc1ZQZXJzb26iFRdYTlNPYmplY3Rf
	EA9OU0tleWVkQXJjaGl2ZXLRGhtUcm9vdIABCBEaIy0yNzxCS09TWF9hY2VnbHF8hYyP
	mKqtsgAAAAAAAAEBAAAAAAAAABwAAAAAAAAAAAAAAAAAAAC0
	</data>
</array>
</plist>
